name: Publish kontrakt
on:
  release:
    types: [ published ]

jobs:
  release:
    name: Kontrakt
    permissions:
      packages: write
      contents: read
    uses: navikt/fp-gha-workflows/.github/workflows/release-feature.yml@main
    with:
      release-version: ${{ github.event.release.tag_name }}
      mvn-projects: '-am -pl kontrakter/kontrakt'
    secrets: inherit
